In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/dm-fedorov/python3book/master/11/ege.csv", sep=";")
df.head()

   stud_kod     predmet_name  ball  year
0     50102     Русский язык    76  2014
1     50102  Английский язык    94  2014
2     50102       Математика    56  2014
3     50102   Обществознание    70  2014
4     50111     Русский язык    72  2014

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12239 entries, 0 to 12238
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   stud_kod      12239 non-null  int64
 1   predmet_name  12239 non-null  object
 2   ball          12239 non-null  int64
 3   year          12239 non-null  int64
dtypes: int64(3), object(1)
memory usage: 382.6+ KB

In [5]:
df.stud_kod.nunique()

3001

In [10]:
df['predmet_name'].value_counts()

predmet_name
Математика                  3049
Русский язык                3045
Обществознание              3033
Сочинение                   1303
Английский язык              973
История                      348
Физика                       170
Информатика и ИКТ             83
Биология                      61
Литература                    60
География                     39
Химия                         29
Немецкий язык                 28
Французский язык              11
Английский язык (устный)       6
Немецкий язык (устный)         1
Name: count, dtype: int64

In [8]:
df \
    .groupby('predmet_name') \
    .agg({'ball': ['mean','max','min']})

                               ball
                               mean  max min
predmet_name
Английский язык           69.949640  100   0
Английский язык (устный)   0.000000    0   0
Биология                  55.557377   93   0
География                 64.333333   85  37
Информатика и ИКТ         62.481928   94   0
История                   59.945402  100   0
Литература                63.283333   87   0
Математика                64.135454  100   0
Немецкий язык             66.285714   90  23
Немецкий язык (устный)     0.000000    0   0
Обществознание            71.406528  100   0
Русский язык              79.134975  100   0
Сочинение                  0.998465    1   0
Физика                    53.458824   96   0
Французский язык          71.636364   92  44
Химия                     55.000000   98   0