In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/dm-fedorov/pandas_basic/master/data/data_stud/stud_spisok_ege.csv", sep=";")
df

       stud_kod     predmet_name  ball  year    svid_status
0         50095     Русский язык    76  2013  Действительно
1         50095  Английский язык    94  2013  Действительно
2         50095       Математика    56  2013  Действительно
3         50095   Обществознание    70  2013  Действительно
4         50104     Русский язык    72  2013  Действительно
...         ...              ...   ...   ...            ...
12234     47594       Математика    36  2012  Действительно
12235     47594   Обществознание    52  2012  Действительно
12236     47617     Русский язык    58  2012  Действительно
12237     47617       Математика    52  2012  Действительно
12238     47617   Обществознание    61  2012  Действительно

[12239 rows x 5 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12239 entries, 0 to 12238
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   stud_kod      12239 non-null  int64
 1   predmet_name  12239 non-null  object
 2   ball          12239 non-null  int64
 3   year          12239 non-null  int64
 4   svid_status   12239 non-null  object
dtypes: int64(3), object(2)
memory usage: 478.2+ KB

In [6]:
df.Fare

0       7.2500
1      71.2833
2       7.9250
3      53.1000
4       8.0500
        ...
886    13.0000
887    30.0000
888    23.4500
889    30.0000
890     7.7500
Name: Fare, Length: 891, dtype: float64

In [ ]:
df['Fare'] = round(df['Fare'], 2)

In [7]:
df['Fare']

0       7.2500
1      71.2833
2       7.9250
3      53.1000
4       8.0500
        ...
886    13.0000
887    30.0000
888    23.4500
889    30.0000
890     7.7500
Name: Fare, Length: 891, dtype: float64